<div class='row text-row'>
  <div class='col-xs-2'></div>
  <div class='col-xs-8'>
    <div class='text-center upcase'>
      <h1>Simple todo list</h1>
      <h3>From rubygarage</h3>
    </div>
  </div>
  <div class='col-xs-2 text-right'>
    Welcome <%= current_user.email %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-link' %>
  </div>
</div>

<div class='row text-row'>
	<% @projects.each do |project| %>
		<div class='col-xs-12 text-line'>
			<div class='row project-title'>
				<div class='col-xs-10'>
					<%= form_for project do |f| %>
						<%= f.text_field :name, class: 'project-name-inp', id: "project-inp-#{project.id}", onblur: "$(this).closest('form').submit()" %>
					<% end %>
				</div>
				<div class='col-xs-2 text-right'>
					<label class='btn btn-link' for='project-inp-<%= project.id %>'>
						<span class='glyphicon glyphicon-pencil'></span>
					</label>
					<%= link_to project, method: :delete, class: 'btn btn-link' do %>
						<span class='glyphicon glyphicon-trash'></span>
					<% end %>
				</div>
			</div>
		</div>

		<div class='col-xs-12 text-line'>
      <%= form_for project.tasks.new do |f| %>
        <%= f.hidden_field :project_id %>
        <%= f.text_field :name %>
        <%= f.submit %>
      <% end %>
    </div>



    <div class='row text-row'>
      <% project.tasks.each do |task| %>
      <% if task.persisted? %>
      <div class='col-xs-12'>
        <div class="row task-title">
          <div class="col-xs-9">
            <%= form_for task do |f| %>
              <% if task.completed? %>
                <%= f.text_field :name, class: 'task-name-inp-done', id: "task-inp-#{task.id}", onblur: "$(this).closest('form').submit()" %>
              <% else %>
                <%= f.text_field :name, class: 'task-name-inp', id: "task-inp-#{task.id}", onblur: "$(this).closest('form').submit()" %>
              <% end %>
            <% end %>
          </div>

          <div class='col-xs-3 text-right'>
            <%= link_to task, method: :putch do %>
              <span class='glyphicon glyphicon-ok'></span>
            <% end %>
  					<label class='btn btn-link' for='task-inp-<%= task.id %>'>
  						<span class='glyphicon glyphicon-pencil'></span>
  					</label>
  					<%= link_to task, method: :delete, class: 'btn btn-link' do %>
  						<span class='glyphicon glyphicon-trash'></span>
  					<% end %>
  				</div>

        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>

<div class='row text-row'>
	<div class='col-xs-6 col-xs-offset-3'>
  <%= form_for current_user.projects.new do |f| %>
		<div class='input-group'>
			<%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Project name...' %>
			<div class='input-group-btn'>
				<button class='btn btn-primary btn-lg' type='submit'>
					<span>Create Project</span>
				</button>
			</div>
		</div>
  <% end %>
	</div>
</div>
